.m-topcard {
    #p-cover {
        max-height: 20rem !important;
    }
    #p-data {
        top: 55%;
        color: #ffffff;
        text-align: center;
        bottom: inherit;
    }
    #p-cover-overlay {
        position: absolute;
        background: rgba($color: $secondary, $alpha: 1);
        color: #ffffff;
        opacity: .5;
        padding: .5rem;
        right: 1rem;
        top: 1rem;

        &:hover {
            opacity: 1;
            border: 2px solid #ffffff;
        }
    }
    #p-pic-container {
        position: absolute;
        left: 42%;
        bottom: 10rem;
        height: 12rem !important;
        width: 12rem !important;
        

        #p-pic-overlay {
            position: absolute;
            background: rgba($color: $secondary, $alpha: .8);
            padding: 1rem .5rem;
            z-index: 2;
            left: 0;
            bottom: 0;
            width: inherit !important;
            visibility: hidden;
            &:hover{
                visibility: visible;
            }
        }

        #p-pic {
            width: inherit;
            height: inherit;
            &:hover {
                ~#p-pic-overlay {
                    visibility: visible;
                }
            }
        }
    }
}

.m-leftcard {
    width: 23.5%;
    float: left;
    margin-right: 1.5%;
    .card {
        border: none;
    }
}

.m-rightcard {
    float: left;
    width: 75%;
    .card {
        border: none;
    }
}