.m-topcard {
    #p-cover {
        max-height: 20rem !important;
    }
    #p-data {
        top: 55%;
        color: #ffffff;
        text-align: center;
        bottom: inherit;
    }
    #p-cover-overlay {
        position: absolute;
        background: rgba($color: $secondary, $alpha: 1);
        color: #ffffff;
        opacity: .5;
        padding: .5rem;
        right: 1rem;
        top: 1rem;

        &:hover {
            opacity: 1;
            border: 2px solid #ffffff;
        }
    }
    #p-pic-container {
        position: absolute;
        left: 42%;
        bottom: 10rem;
        height: 12rem !important;
        width: 12rem !important;
        

        #p-pic-overlay {
            position: absolute;
            background: rgba($color: $secondary, $alpha: .8);
            padding: 1rem .5rem;
            z-index: 2;
            left: 0;
            bottom: 0;
            transition: all .5s ease-in-out;
            width: inherit !important;
            visibility: hidden;
            &:hover{
                visibility: visible;
            }
        }

        #p-pic {
            width: inherit;
            height: inherit;
            &:hover {
                ~#p-pic-overlay {
                    visibility: visible;
                }
            }
        }
    }
}

.m-leftcard {
    width: 23.5%;
    float: left;
    margin-right: 1.5%;
    .card {
        border: none;
    }
}

.m-rightcard {
    float: left;
    width: 75%;
    .card {
        border: none;
    }
}

#user-connect {
    li {
        &.ucl {
            &:hover {
                ~.sns-overlay{
                    visibility: visible;
                }
            }
        }
        .sns-overlay {
            position: absolute;
            background: rgba($color: $secondary, $alpha: .8);
            left: 1em;
            bottom: .3em;
            visibility: hidden;
            &:hover {
                visibility: visible;
            }
        }
    }

}

.d-campaigns{
    .card, .card-img-top, .card-body, .card-footer, .project-needs, .list-group, .list-group-item{
        &:hover{
            ~.cml{
                visibility: visible;
            }
        }
    }
    .cml {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $secondary, $alpha: .8);
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bolder;
        visibility: hidden;
        &:hover {
            visibility: visible;
        }
        span{
            position: relative;
            width: 100%;
            top: 30%;
        }

    }  
    .cal {
        // position: absolute;
        // display: block;
        z-index: 2;
        width: 100%;
        // height: 100%;
        min-height: 20rem;
        background: inherit;
        text-align: center;
        color: $secondary;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bolder;
        padding: 8rem 0;
        &:hover {
            background: rgba($color: $secondary, $alpha: 1);
            color: #ffffff;
        }
        span{
            position: relative;
            width: 100%;
            top: 30%;
            // margin: auto 0;
        }
        &:focus{
            outline: 0 !important;
            border: 0 !important;
        }
    }
     
}