// explore page
#filter-nav {
	// position: relative !important;
    // width: 100% !important;
    // overflow: hidden;
    // border-bottom: 1px solid darken($light, 10%);
    // -webkit-transition: all .5s;
	// transition: all .5s;
	// height: 4rem;
	// @include media-breakpoint-down(lg) {
	// 	height: 3rem !important;			
	// }

	&.fixed {
		position: fixed ; 
		z-index: 100;
		top: -2px;
		width: 100%;
		box-shadow: 0 1px 5px darken($light, 10%);
		@include media-breakpoint-down(md) {
			top: 3rem;			
		}
	}

	h3 {
		@include media-breakpoint-down(lg) {
			font-size: 1rem !important;			
		}
	}
}

// details page
.project-body {
	#sticky--{
		position: relative !important;
		z-index: 2 !important;
		-webkit-transition: all .5s !important;
		transition: all .5s !important;
		border: none;
		box-shadow: none;
		background: $body-bg;
	
		@include media-breakpoint-up (lg) {
			&.fixed {
				position: fixed !important;
				top: 1rem !important;
			}
		}

		.card-body {
			.info-donasi {
				display: block;
				min-height: 6rem;
				width: 100%;
				margin-bottom: 1rem;

				// .info-donasi-percent {
				// 	display: block;
				// 	float: left;
				// 	height: 6rem;
				// 	width: 6rem;
				// 	p {
				// 		margin: 0;
				// 		text-align: center;
				// 		font-size: 1.8rem;
				// 		line-height: 80%;
				// 		padding-top: 1.5rem;
				// 		color: $body-bg;
				// 		small {
				// 			text-transform: uppercase;
				// 			font-size: .8rem;
				// 		}
				// 	}
				// }

				.info-donasi-content {
					padding: .5rem 0;
					// margin-left: 6rem;

					.info-donasi-text {
						text-transform: uppercase;
						font-size: .8rem;
						margin: 0;
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					
					.info-donasi-number {
						display: block;
						font-weight: bold;
						font-size: 1.8rem;
						color: $secondary;
					}

					.progress {
						background: rgba(0,0,0,0.2);
						margin: .5rem 0;
						height: 2px;

						.progress-bar {
							background: $secondary;
						}
					}
				}
			}

			.info-relawan {
				.media {
					overflow: hidden;
					.media-img {
						// display: block;
						// flex-wrap: wrap;
						padding: 0 0 0 .5rem;
						max-width: 100%;
						height: auto;
						overflow: hidden;
						img {
							width: 3.125rem;
							height: 3.125rem;
							border: 2px solid #fff;
							// margin-right: -.6rem;

							// &:last-child {
							// 	margin-right: 0;
							// }
						}
					}

					#volunteer-carousel {
						.owl-item {
							// width: 3.125rem !important;
							img {
								width: 3.125rem;
								height: 3.125rem;
								border: 2px solid #fff;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
}

.project-detail {
	#h-project-nav{
		position: relative !important;
		z-index: 2 !important;
		-webkit-transition: all .5s !important;
		transition: all .5s !important;
		// height: 4rem;
		// margin-left: calc(100%/3);
		// @include media-breakpoint-down(lg) {
		// 	height: 3rem !important;			
		// }
	
		&.fixed {
			position: fixed !important;
			top: 0 !important;
			@include media-breakpoint-down(md) {
				top: 3rem !important;			
			}
		}
	}

	.tab-content {
		> .active {
			display: block;
			min-height: 20rem;
		}

		.timeline {
			position: relative;
			width: 100%;
			float: left;
			position: relative;
			padding: 0 0 4rem 0;
			margin-top: 0;
			margin-top: .25rem;
		
			.line {
				position: absolute;
				width: .2rem;
				display: block;
				top: 1.5rem;
				bottom: 0;
				background: $secondary;
		
				&::before {
					top: -2px;
				}
		
				&::after {
					bottom: -2px;
				}
		
				&::before, &::after {
					content: '';
					position: absolute;
					left: -6px;
					width: 0;
					height: 0;
					display: block;
					border-radius: 50%;
					background: #0039A6;
				}
			}
		
			.separator {
				border-top: 1px solid #0039A6;
				padding: 5px;
				padding-left: 40px;
				font-style: italic;
				font-size: .9em;
				margin-left: 30px;
			}
		
			.card {
				position: relative;
				// margin: 10px 0px 0px 40px;
				clear: both;
				margin: 0 auto;
				padding: 1rem 0 0 1rem;
				background: none;
				width: 100%;
		
				&::before {
					position: absolute;
					display: block;
					top: 8px;
					left: -24px;
					content: '';
					width: 0px;
					height: 0px;
					border: inherit;
					border-width: 12px;
					border-top-color: transparent;
					border-bottom-color: transparent;
					border-left-color: transparent;
				}
		
				.card-heading {
					.icon {
						position: absolute;
						left: -1.12rem;
						width: 2.5rem;
						height: 2.5rem;
						padding: 0;
						text-align: center;
						float: left;
		
						.fa-square-full{
							color: $body-bg;
							border: .2rem solid $secondary;
							z-index: 2;
						}
					}
		
					// &.icon * {
					// 	font-size: 14px;
					// 	vertical-align: middle;
					// 	line-height: 40px;
					// }
				}
		
				.card-body {
					img {
						max-width: 100%;
						height: auto;
						margin-bottom: .5rem;
					}
				}
			}
		
			.card-outline {
				border-color: transparent;
				background: transparent;
				box-shadow: none;
		
				.card-body {
					padding: 10px 0px;
				}
			}
		
			.card-default {
				border: 0;
				
				> .card-heading {
					border: 0;
					background: none;
					font-weight: 400;
		
					+ .card-collapse {
						> .card-body {
							border-top: 0;
							padding-top: 0;
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}