$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: #0275d8;
$border-radius: .25rem;

.nav-tabs {
	&--vertical {
		border-bottom: none;
		border-right: 1px solid $color-border;
		display: flex;
		flex-flow: column nowrap;
	}
	
	&--left {
		margin: 0 $padding-base;
		
		.nav-item + .nav-item {
			margin-top: .25rem;
		}
		
		.nav-link {
			transition: border-color .125s ease-in;
			white-space: nowrap;
			
			&:hover {
				background-color: lighten($color-border, 10%);
				border-color: transparent;
			}
		}
		
		.nav-link.active {
			border-bottom-color: $color-border;
			// border-right-color: $color-body;
			border-bottom-left-radius: $border-radius;
			border-top-right-radius: 0;
			margin-right: -1px;
			
			&:hover {
				background-color: $color-body;
				border-color: $color-link $color-body $color-link $color-link;
			}
		}
	}
}

#h-project-nav {
	@include sticky-on-scroll-nav();
}

#v-project-nav, #v-project-content {
	position: relative !important;
    overflow: hidden !important;
    -webkit-transition: all .5s !important;
	transition: all .5s !important;
	
	&.fixed {
		position: fixed !important;
		top: 5rem;
		@include media-breakpoint-down(lg) {
			top: 4rem !important;			
		}
	}
}

.project-details {
	&.fixed {
		@include fixed-element();
		z-index: 0 !important;
		top: 0 !important;
	}
}